---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-search
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: search
  template:
    metadata:
      labels:
        app: wineinfo
        service: search
    spec:
      containers:
      - name: main
        image: wineinfo-python:latest
        imagePullPolicy: IfNotPresent
        command: ["fastapi", "run", "/app/search_app.py", "--host", "0.0.0.0", "--port", "8000"]
        envFrom:
        - configMapRef:
            name: wineinfo-config
        env:
        - name: SEARCH_DEMO_LATENCY
          value: "true"
