---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-frontend
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: frontend
  template:
    metadata:
      labels:
        app: wineinfo
        service: frontend
    spec:
      containers:
      - name: wineinfo-frontend
        image: wineinfo-frontend:latest
        imagePullPolicy: IfNotPresent
        env:
          - name: VITE_BACKEND
            value: "http://localhost:8011"
        command: ["npm", "run", "dev", "--", "--host"]
---
apiVersion: v1
kind: Service
metadata:
  name: wineinfo-frontend
spec:
  type: NodePort
  selector:
    app: wineinfo
    service: frontend
  ports:
    - nodePort: 30010
      port: 3000
      targetPort: 3000
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: wineinfo-backend-config
data:
  DATA_PATH: /app/data/gen
  JUNCTION_ADS_SERVER: grpc://ezbake.junction:8008
  USE_JUNCTION: "true"
  CATALOG_SERVICE: "http://wineinfo-catalog.default.svc.cluster.local"
  SEARCH_SERVICE: "http://wineinfo-search.default.svc.cluster.local"
  RECS_SERVICE: "http://wineinfo-recs.default.svc.cluster.local"
  PERSIST_SERVICE: "http://wineinfo-persist.default.svc.cluster.local"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-backend
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: backend
  template:
    metadata:
      labels:
        app: wineinfo
        service: backend
    spec:
      containers:
      - name: main
        image: wineinfo-python:latest
        imagePullPolicy: IfNotPresent
        command: ["fastapi", "run", "/app/backend_app.py", "--host", "0.0.0.0", "--port", "8000"]
        envFrom:
        - configMapRef:
            name: wineinfo-backend-config
---
apiVersion: v1
kind: Service
metadata:
  name: wineinfo-backend
spec:
  type: NodePort
  selector:
    app: wineinfo
    service: backend
  ports:
    - nodePort: 30011
      port: 8000
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-catalog
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: catalog
  template:
    metadata:
      labels:
        app: wineinfo
        service: catalog
    spec:
      containers:
      - name: main
        image: wineinfo-python:latest
        imagePullPolicy: IfNotPresent
        command: ["fastapi", "run", "/app/catalog_app.py", "--host", "0.0.0.0", "--port", "8000"]
        envFrom:
        - configMapRef:
            name: wineinfo-backend-config
---
apiVersion: v1
kind: Service
metadata:
  name: wineinfo-catalog
spec:
  type: ClusterIP
  selector:
    app: wineinfo
    service: catalog
  ports:
    - port: 80
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-persist
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: persist
  template:
    metadata:
      labels:
        app: wineinfo
        service: persist
    spec:
      containers:
      - name: main
        image: wineinfo-python:latest
        imagePullPolicy: IfNotPresent
        command: ["fastapi", "run", "/app/persist_app.py", "--host", "0.0.0.0", "--port", "8000"]
        envFrom:
        - configMapRef:
            name: wineinfo-backend-config
---
apiVersion: v1
kind: Service
metadata:
  name: wineinfo-persist
spec:
  type: ClusterIP
  selector:
    app: wineinfo
    service: persist
  ports:
    - port: 80
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-recs
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: recs
  template:
    metadata:
      labels:
        app: wineinfo
        service: recs
    spec:
      containers:
      - name: main
        image: wineinfo-python:latest
        imagePullPolicy: IfNotPresent
        command: ["fastapi", "run", "/app/recs_app.py", "--host", "0.0.0.0", "--port", "8000"]
        envFrom:
        - configMapRef:
            name: wineinfo-backend-config
---
apiVersion: v1
kind: Service
metadata:
  name: wineinfo-recs
spec:
  type: ClusterIP
  selector:
    app: wineinfo
    service: recs
  ports:
    - port: 80
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-search
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: search
  template:
    metadata:
      labels:
        app: wineinfo
        service: search
    spec:
      containers:
      - name: main
        image: wineinfo-python:latest
        imagePullPolicy: IfNotPresent
        command: ["fastapi", "run", "/app/search_app.py", "--host", "0.0.0.0", "--port", "8000"]
        envFrom:
        - configMapRef:
            name: wineinfo-backend-config
---
apiVersion: v1
kind: Service
metadata:
  name: wineinfo-search
spec:
  type: ClusterIP
  selector:
    app: wineinfo
    service: search
  ports:
    - port: 80
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wineinfo-catalog-next
  labels:
    app: wineinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wineinfo
      service: catalog-next
  template:
    metadata:
      labels:
        app: wineinfo
        service: catalog-next
    spec:
      containers:
      - name: main
        image: wineinfo-python:latest
        imagePullPolicy: IfNotPresent
        command: ["fastapi", "run", "/app/catalog_app.py", "--host", "0.0.0.0", "--port", "8000"]
        envFrom:
        - configMapRef:
            name: wineinfo-backend-config
        env:
        - name: MOJIBAKE
          value: "true"
---
apiVersion: v1
kind: Service
metadata:
  name: wineinfo-catalog-next
spec:
  type: ClusterIP
  selector:
    app: wineinfo
    service: catalog-next
  ports:
    - port: 80
      targetPort: 8000
